{% extends 'layouts/app.twig' %}
{% block content %}
	
	<h1>TEST:</h1>

	{% for item in products %}
            <p>{{ attr.product_name }}</p>
    {% endfor %}


    <form action="{{ path_for('user.store') }}" method="post">

    <input type="submit" name="submit">
    </form>

{% endblock %}